#progress {
	margin-bottom: 10px;
	margin-top: 5px;
	height:10px;
	max-width: 325px;
	background-color: LightGray;
}

#player {
	max-width: 500px;
}

#cover {
	margin-bottom: 5px;
	position: relative;
	top: -20px;
}

#buttons {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	top: -10px;
}

#slideup, #slidedown {
	margin-top: 5px;
}

#volume {
	margin-bottom: 10px;
	margin-top: 5px;
	position: relative;
	left: 30%;
	top: 6px;
	height: 5px;
	width: 85px;
	background-color: LightGray;
}

#volume_icon{
	position: relative;
	left: 30%;
}

#slideup, #slidedown, #volume, #volume_icon {
	display:inline-block;
}

.jumbotron {
}

